$grid: 23px;
$left: 0;
$top: 0;
$middle: 1;
$right: 2;
$bottom: 2;

@mixin sprite($x, $y)   { background-position: (-$x      * $grid) (-$y * $grid); }
@mixin empty($x, $y)    { background-position: (-$x      * $grid) (-$y * $grid); }
@mixin hoshi($x, $y)    { background-position: ((-3-$x)  * $grid) (-$y * $grid); }
@mixin triangle($x, $y) { background-position: ((-6-$x)  * $grid) (-$y * $grid); }
@mixin circle($x, $y)   { background-position: ((-9-$x)  * $grid) (-$y * $grid); }
@mixin square($x, $y)   { background-position: ((-12-$x) * $grid) (-$y * $grid); }
@mixin cross($x, $y)    { background-position: ((-15-$x) * $grid) (-$y * $grid); }
@mixin greyed($x, $y)   { background-position: ((-18-$x) * $grid) (-$y * $grid); }

.data {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;

	table {
		border-collapse: collapse;
		tr td {
			width: $grid;
			height: $grid;
			padding: 0;
			background-color: #f2b06d;
			background-image: url(diagrammer.png);
			background-repeat: no-repeat;							

			&.empty { 
				@include empty($middle, $middle);
				&.hoshi    { @include hoshi($middle, $middle) }
				&.triangle { @include triangle($middle, $middle); }
				&.circle   { @include circle($middle, $middle); }
				&.square   { @include square($middle, $middle); }
				&.cross    { @include cross($middle, $middle); }
				&.greyed   { @include greyed($middle, $middle); }
				
				&.left.top { 
					@include empty($left, $top);
					&.hoshi    { @include hoshi($left, $top) }
					&.triangle { @include triangle($left, $top); }
					&.circle   { @include circle($left, $top); }
					&.square   { @include square($left, $top); }
					&.cross    { @include cross($left, $top); }
					&.greyed   { @include greyed($left, $top); }
				}
				&.right.top {
					@include empty($right, $top);
					&.hoshi    { @include hoshi($right, $top) }
					&.triangle { @include triangle($right, $top); }
					&.circle   { @include circle($right, $top); }
					&.square   { @include square($right, $top); }
					&.cross    { @include cross($right, $top); }
					&.greyed   { @include greyed($right, $top); }
				}
				&.left.bottom {
					@include empty($left, $bottom);
					&.hoshi    { @include hoshi($left, $bottom) }
					&.triangle { @include triangle($left, $bottom); }
					&.circle   { @include circle($left, $bottom); }
					&.square   { @include square($left, $bottom); }
					&.cross    { @include cross($left, $bottom); }
					&.greyed   { @include greyed($left, $bottom); }
				}
				&.right.bottom {
					@include empty($right, $bottom);
					&.hoshi    { @include hoshi($right, $bottom) }
					&.triangle { @include triangle($right, $bottom); }
					&.circle   { @include circle($right, $bottom); }
					&.square   { @include square($right, $bottom); }
					&.cross    { @include cross($right, $bottom); }
					&.greyed   { @include greyed($right, $bottom); }
				}
				&.left {
					@include empty($left, $middle);
					&.hoshi    { @include hoshi($left, $middle) }
					&.triangle { @include triangle($left, $middle); }
					&.circle   { @include circle($left, $middle); }
					&.square   { @include square($left, $middle); }
					&.cross    { @include cross($left, $middle); }
					&.greyed   { @include greyed($left, $middle); }
				}
				&.top {
					@include empty($middle, $top);
					&.hoshi    { @include hoshi($middle, $top) }
					&.triangle { @include triangle($middle, $top); }
					&.circle   { @include circle($middle, $top); }
					&.square   { @include square($middle, $top); }
					&.cross    { @include cross($middle, $top); }
					&.greyed   { @include greyed($middle, $top); }
				}
				&.bottom {
					@include empty($middle, $bottom);
					&.hoshi    { @include hoshi($middle, $bottom) }
					&.triangle { @include triangle($middle, $bottom); }
					&.circle   { @include circle($middle, $bottom); }
					&.square   { @include square($middle, $bottom); }
					&.cross    { @include cross($middle, $bottom); }
					&.greyed   { @include greyed($middle, $bottom); }
				}
				&.right {
					@include empty($right, $middle);
					&.hoshi    { @include hoshi($right, $middle) }
					&.triangle { @include triangle($right, $middle); }
					&.circle   { @include circle($right, $middle); }
					&.square   { @include square($right, $middle); }
					&.cross    { @include cross($right, $middle); }
					&.greyed   { @include greyed($right, $middle); }
				}
			}

			&.black {
				@include sprite(0,3);
				&.triangle { @include sprite(2,3); }
				&.circle   { @include sprite(1,3); }
				&.square   { @include sprite(4,3); }
				&.cross    { @include sprite(3,3); }

			}
			&.white { background-position: 0px -92px; }

			.label {
				display: block;
				width: 2*$grid/3;
				text-align: center;
				overflow: hidden;
				margin: 0 auto;
				font-size: 16px;
				background-color: #f2b06d;
			}
		}
	}
}

.column {
	position: relative;
	float: left;
	padding: 0;
}

h4 {
	padding-left: 10px;
}
#output {
	white-space: pre;
	font-family: monospace, serif;
	font-size: 3*$grid/5;
	line-height: 2*$grid/3;
	padding: 0 100px 100px 10px;
}

.board {
	font-size: $grid;
	background-color: #d99e62;
	padding: $grid;
	.grid {
		position: relative;
		.viewport {
			position: absolute;
			overflow: hidden;
			left: 0px;
			top: 0px;
			pointer-events: none;

			.ui-resizable-handle {
				pointer-events: auto;
			}
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			border-style: solid;
			border-color: rgba(0,0,0,0.1);
			pointer-events: none;
		}
	}
}

.tools {
	height: $grid+2;
	.tool {
		width: $grid;
		height: $grid;
		float: left;
		border-width: 1px;
		border-color: #f2b06d;
		border-style: solid;
		background-image: url(diagrammer.png);

		&.active {
			border-color: red;
		}
		&.black { @include empty(0,3) }
		&.white { @include empty(0,4) }
		&.marker {
			&.triangle { @include empty(1,5) }
			&.circle { @include empty(2,5) }
			&.square { @include empty(3,5) }
			&.cross { @include empty(4,5) }
			&.greyed { @include empty(5,5) }
		}
		&.label {
			width: auto;
			padding: 0 2px;
			background-color: #f2b06d;
			background-image: none;
			font-size: 13px;
			line-height: 16px;
		}
	}
}

// Styles for the jQuery UI Resizable plugin
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    display: block;
    font-size: 0.1px;
    position: absolute;
}
.ui-resizable-disabled, .ui-resizable-autohide {
	.ui-resizable-handle {
    	display: none;
    }
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    left: 0;
    top: 0px;
    width: 100%;
}
.ui-resizable-s {
    bottom: 0px;
    cursor: s-resize;
    height: 7px;
    left: 0;
    width: 100%;
}
.ui-resizable-e {
    cursor: e-resize;
    height: 100%;
    right: 0px;
    top: 0;
    width: 7px;
}
.ui-resizable-w {
    cursor: w-resize;
    height: 100%;
    left: 0px;
    top: 0;
    width: 7px;
}
// icon and settings for the diagonal resize handles
@mixin resizer($dir1, $dir2) {
    background: linear-gradient(to $dir1 $dir2, transparent 50%, #222, transparent, #222, transparent, #222, transparent);	
    #{$dir1}: 1px;
    #{$dir2}: 1px;
    height: 9px;
    width: 9px;
}
.ui-resizable-se {
    cursor: se-resize;
    @include resizer(bottom, right);
}
.ui-resizable-sw {
    cursor: sw-resize;
    @include resizer(bottom, left);
}
.ui-resizable-nw {
    cursor: nw-resize;
    @include resizer(top, left);
}
.ui-resizable-ne {
    cursor: ne-resize;
    @include resizer(top, right);
}

