@import 'normalize';

$grid: 23px;
$types: normal, hoshi, circle, cross, square, triangle, greyed;
$stones: black, white;
$places: "left", "top", "left.top", "right", "left.right", "top.right", "left.top.right", "bottom", "left.bottom", "top.bottom", "left.top.bottom", "right.bottom", "left.right.bottom", "top.right.bottom", "left.top.right.bottom";


#template {
	display: none;
}

.diagram {
	&:after { /* clearfix */
		content: "";
		display: table;
		clear: both;
	}
	border: 1px solid #ccc;
	border-radius: $grid/2;
	margin: $grid/2;
	padding: $grid/2;
	float: left;
	clear: left;

	/* sprites: */
	.sprite {
		background-image: url(diagrammer.png);
		background-color: #f2b06d;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
		width: $grid;
		height: $grid;
		@for $t from 1 through length($types) {
			$type: nth($types, $t);
			&.#{$type} {
				@if $type != hoshi {
					&.tool {
						background-position: ((1-$t)*$grid) 0;
					}
				}
				&.empty {
					background-position: ((1-$t)*$grid) (-$grid);
				}
				@for $p from 1 through length($places) {
					$place: nth($places, $p);
					&.empty.#{$place} {
						background-position: ((1-$t)*$grid) ((-1-$p)*$grid);
					}
				}
				@for $s from 1 through length($stones) {
					$stone: nth($stones, $s);
					@if $type != greyed {
						&.#{$stone} {
							background-position: ((1-$t)*$grid) ((-16-$s)*$grid);
						}
					}
				}
			}
		}
		&.black {
			color: white;
			&.tool {
				background-position: 0 (-17*$grid);			
			}
		}
		&.white {
			color: black;
			&.tool {
				background-position: 0 (-18*$grid);
			}
		}
		&.hoshi.tool {
			background-position: (-$grid) (-$grid);
		}
		&.label.tool {
			background-position: 0 (-$grid);
		}
		&.toggle.tool {
			background-position: 0 (-$grid);
		}
		span.letter {
			display: block;
			width: $grid - 8;
			height: $grid - 8;
			text-align: center;
			vertical-align: middle;
			overflow: hidden;
			margin: 4px auto;
			font-size: $grid - 10;
			line-height: $grid - 9;
			background-color: #f2b06d;
		}
		span.number {
			display: block;
			width: $grid - 2;
			height: $grid - 2;
			text-align: center;
			margin: 1px 0;
			overflow: hidden;
			font-size: $grid - 7;
			line-height: $grid - 2;
			letter-spacing: -2px;
			background: transparent;
		}
	}
	.board {
		font-size: $grid;
		background-color: #d99e62;
		padding: $grid;
		.grid {
			position: relative;
			.data, .viewport, .overlay, .letters, .numbers {
				position: absolute;
				top: 0;
				left: 0;
			}
			.data {
				overflow: hidden;

				table {
					margin: 0;
					padding: 0;
					border-collapse: collapse;
					tr td {
						position: relative;
						width: $grid;
						height: $grid;
						padding: 0;
						cursor: pointer;
					}
				}
			}
			.viewport {
				overflow: hidden;
				pointer-events: none;

				.ui-resizable-handle {
					pointer-events: auto;
				}
			}
			.overlay {
				border-style: solid;
				border-color: rgba(0,0,0,0.1);
				border-width: 0;
				pointer-events: none;
			}
			.letters {
				display: none;
				top: -17px;
				left: -19px;
				border-left: 19px solid #f2b06d;
				background-image: url(letters.png);
				background-repeat: no-repeat;
				background-position: (-$grid) top;
				height: 17px;
				width: 100%;
			}
			.numbers {
				display: none;
				left: -19px;
				background-image: url(numbers.png);
				background-repeat: no-repeat;
				background-position: left bottom;
				height: 100%;
				width: 19px;
			}
		}
	}
}

.help {
	display: none;
	border-color: #ccc;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 3px;
}

.showhelp {
	cursor: pointer;
	position: relative;
	border-color: #ccc;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 5px 5px;
	border-style: solid;
	border-top: 1px solid white;
	padding: 0 3px;
	text-align: center;
	height: $grid;
	margin: -1px auto 0;
	width: 100px;
	z-index: 1000;
}

#meta {
	margin-left: $grid;
	clear: left;
}

#width, #height {
	width: $grid;
}


.main, .bottom {
	&:after {
		content: "";
		display: table;
		clear: both;
	}	
}


.column {
	position: relative;
	float: left;
	padding: 0;
}

h4 {
	padding-left: 10px;
}

.output {
	font-family: monospace, serif;
	font-size: 13px;
	resize: none;
}

.caption {
	height: $grid;
	input.caption {
		font-size: $grid - 10;
		line-height: $grid - 10;
		height: $grid - 8;
	}
}

.bottom {
	position: relative;
	height: $grid;
}

.follow {
	position: absolute;
	right: 0;
	top: 0;
}


.tools {
	height: $grid+2;
	position: relative;
	padding-right: 2*$grid/3;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			float: left;
			position: relative;
		}
	}
	.tool {
		width: $grid;
		height: $grid;
		text-align: center;
		border-width: 1px;
		border-color: #f2b06d;
		border-style: solid;
		cursor: pointer;

		&.active {
			border-color: red;
		}
		&.coords {
			border-top: 1px dotted black;
			border-left: 1px dotted black;
			width: $grid - 10;
			height: $grid - 10;
			padding: 5px;
		}
		&.toggle {
			font-size: $grid;
			line-height: $grid;			
		}
	}
	.settings {
		position: absolute;
		display: none;
		top: $grid;
		left: 0;
		z-index: 1000;
		padding: 3px;
		border: 1px solid rgba(0,0,0,0.1);
		background-color: #f2b06d;
		font-size: 13px;
		line-height: $grid;
		&.moves {
			width: 2*$grid;
			.move {
				float: left;
				cursor: pointer;
			}
			.colorswitch {
				cursor: pointer;
				width: 2*$grid;
				.color {
					float: left;
				}
			}
			input.movenum {
				width: (3/2) * $grid;
			}
		}
		&.labels {
			width: 3*$grid;
			.label {
				cursor: pointer;
				float: left;
			}
		}
	}
	.close.button {
		cursor: pointer;
		color: red;
		position: absolute;
		font-size: $grid;
		right: 0;
		top: 0;
		margin: (-$grid/2) (-$grid/2) 0 0;
		padding: 0 3px;
		border-style: solid;
		border-color: #ccc;
		border-width: 0 0 1px 1px;
		border-radius: 0 0 0 $grid/2;
	}
}

// Styles for the jQuery UI Resizable plugin
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	display: block;
	font-size: 0.1px;
	position: absolute;
}
.ui-resizable-disabled, .ui-resizable-autohide {
	.ui-resizable-handle {
		display: none;
	}
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	left: 0;
	top: 0px;
	width: 100%;
}
.ui-resizable-s {
	bottom: 0px;
	cursor: s-resize;
	height: 7px;
	left: 0;
	width: 100%;
}
.ui-resizable-e {
	cursor: e-resize;
	height: 100%;
	right: 0px;
	top: 0;
	width: 7px;
}
.ui-resizable-w {
	cursor: w-resize;
	height: 100%;
	left: 0px;
	top: 0;
	width: 7px;
}
// icon and settings for the diagonal resize handles
@mixin resizer($dir1, $dir2) {
	background: linear-gradient(to $dir1 $dir2, transparent 50%, #222, transparent, #222, transparent, #222, transparent);	
	#{$dir1}: 1px;
	#{$dir2}: 1px;
	height: 9px;
	width: 9px;
}
.ui-resizable-se {
	cursor: se-resize;
	@include resizer(bottom, right);
}
.ui-resizable-sw {
	cursor: sw-resize;
	@include resizer(bottom, left);
}
.ui-resizable-nw {
	cursor: nw-resize;
	@include resizer(top, left);
}
.ui-resizable-ne {
	cursor: ne-resize;
	@include resizer(top, right);
}

