@import 'normalize';

$grid: 23px;

.help {
	display: none;
	border-color: #ccc;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 3px;
}

.showhelp {
	position: relative;
	border-color: #ccc;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 5px 5px;
	border-style: solid;
	border-top: 1px solid white;
	padding: 0 3px;
	text-align: center;
	height: $grid;
	margin: -1px auto 0;
	width: 100px;
	z-index: 1000;
}

#meta {
	margin-left: $grid;
	clear: left;
}

#width {
	text-align: right;
}

#template {
	display: none;
}



@mixin sprite($s, $x, $y) {
	$bgx: -($s - 1);
	$bgy: -(3 * $y + $x - 3);
	background-position: ($bgx * $grid) ($bgy * $grid); 
}

.diagram {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	border: 1px solid #ccc;
	border-radius: $grid/2;
	margin: $grid/2;
	padding: $grid/2;
	float: left;
	clear: left;
}

.main {
	&:after {
		content: "";
		display: table;
		clear: both;
	}	
}

.data {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;

	table {
		border-collapse: collapse;
		tr td {
			position: relative;
			width: $grid;
			height: $grid;
			padding: 0;
			background-color: #f2b06d;
			background-image: url(diagrammer.png);
			background-repeat: no-repeat;

			$list: normal, hoshi, triangle, circle, square, cross, greyed;
			$rows: top, middle, bottom;
			$cols: left, center, right;
			$stones: black, white;
			@for $i from 1 through length($list) {
				$item: nth($list, $i);
				@for $r from 1 through length($rows) {
					$row: nth($rows, $r);
					@for $c from 1 through length($cols) {
						$col: nth($cols, $c);
						&.empty.#{$item}.#{$row}.#{$col} {
							@include sprite($i, $c, $r);
						}
					}
				}
				@for $s from 1 through length($stones) {
					$stone: nth($stones, $s);
					&.#{$stone}.#{$item} {
						@include sprite($i, $s, 4)
					}
				}	
			}

			&.black {
				color: white;
			}
			&.white {
				color: black;
			}

			.label {
				display: block;
				width: 2*$grid/3;
				text-align: center;
				overflow: hidden;
				margin: 0 auto;
				font-size: 16px;
				background-color: #f2b06d;
			}
			.move {
				display: block;
				width: $grid - 2;
				margin: 0 auto;
				text-align: center;
				overflow: hidden;
				font-size: 16px;
				background: transparent;
			}
		}
	}
}

.column {
	position: relative;
	float: left;
	padding: 0;
}

h4 {
	padding-left: 10px;
}
.output {
	white-space: pre;
	font-family: monospace, serif;
	font-size: 3*$grid/5;
	line-height: 2*$grid/3;
	padding: $grid 3*$grid $grid $grid;
}

.caption {
	font-size: $grid;
	input.caption {
		font-size: 2*($grid/3)
	}

}

.bottom {
	position: relative;
}

.follow {
	position: absolute;
	right: 0;
	bottom: 0;
}

.board {
	font-size: $grid;
	background-color: #d99e62;
	padding: $grid;
	.grid {
		position: relative;
		.viewport {
			position: absolute;
			overflow: hidden;
			left: 0px;
			top: 0px;
			pointer-events: none;

			.ui-resizable-handle {
				pointer-events: auto;
			}
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			border-style: solid;
			border-color: rgba(0,0,0,0.1);
			border-width: 0;
			pointer-events: none;
		}
	}
}

.tools {
	height: $grid+2;
	position: relative;
	.tool, .helper {
		width: $grid;
		height: $grid;
		float: left;
		border-width: 1px;
		border-color: #f2b06d;
		border-style: solid;
		background-image: url(diagrammer.png);

		&.active {
			border-color: red;
		}
		&.black    { @include sprite(1,1,4); color: white; }
		&.white    { @include sprite(1,2,4); color: black; }
		&.triangle { @include sprite(3,0,1) }
		&.circle   { @include sprite(4,0,1) }
		&.square   { @include sprite(5,0,1) }
		&.cross    { @include sprite(6,0,1) }
		&.greyed   { @include sprite(7,0,1) }
		&.label,&.move {
			width: auto;
			padding: 0 2px;
			background-color: #f2b06d;
			background-image: none;
			font-size: 13px;
			line-height: 16px;
		}
	}
	.helper {
		span {
			display: block;
			width: $grid - 2;
			margin: 2px auto;
			text-align: center;
			overflow: hidden;
			font-size: 16px;
			background: transparent;
		}		
	}
	.close.button {
		cursor: hand;
		color: red;
		position: absolute;
		right: 0;
		top: 0;
		font-size: $grid;
		margin: (-$grid/2) (-$grid/2) 0 0;
		padding: 0 3px;
		border-style: solid;
		border-color: #ccc;
		border-width: 0 0 1px 1px;
		border-radius: 0 0 0 $grid/2;
	}
}

// Styles for the jQuery UI Resizable plugin
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	display: block;
	font-size: 0.1px;
	position: absolute;
}
.ui-resizable-disabled, .ui-resizable-autohide {
	.ui-resizable-handle {
		display: none;
	}
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	left: 0;
	top: 0px;
	width: 100%;
}
.ui-resizable-s {
	bottom: 0px;
	cursor: s-resize;
	height: 7px;
	left: 0;
	width: 100%;
}
.ui-resizable-e {
	cursor: e-resize;
	height: 100%;
	right: 0px;
	top: 0;
	width: 7px;
}
.ui-resizable-w {
	cursor: w-resize;
	height: 100%;
	left: 0px;
	top: 0;
	width: 7px;
}
// icon and settings for the diagonal resize handles
@mixin resizer($dir1, $dir2) {
	background: linear-gradient(to $dir1 $dir2, transparent 50%, #222, transparent, #222, transparent, #222, transparent);	
	#{$dir1}: 1px;
	#{$dir2}: 1px;
	height: 9px;
	width: 9px;
}
.ui-resizable-se {
	cursor: se-resize;
	@include resizer(bottom, right);
}
.ui-resizable-sw {
	cursor: sw-resize;
	@include resizer(bottom, left);
}
.ui-resizable-nw {
	cursor: nw-resize;
	@include resizer(top, left);
}
.ui-resizable-ne {
	cursor: ne-resize;
	@include resizer(top, right);
}

